h1[bt],
h2[bt],
h3[bt],
h4[bt],
h5[bt],
h6[bt] {
  display: block;
  color: var(--heading-color, var(--bt-strong-text-color));
  transition: color 0.3s;
  margin: unset;

  a:not([bt-card]):has(&) {
    color: var(--bt-strong-text-color);
    text-decoration: none;
  }

  a:not([bt-card]):has(&):hover {
    --heading-color: var(--bt-link-hover-color);
  }
}
