header[bt] {
  display: block;
  background-color: hsl(215, 28%, 17%);
  border-bottom: 1px solid hsl(215, 14%, 34%);
  position: sticky;
  top: 0;
  z-index: 40;
  font-family: var(--bt-font-family);
  
  > nav {
    padding: 0.75rem 1rem;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    color: var(--bt-strong-text-color);
    min-height: 2.5rem;

    > ul {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      align-items: center;
      padding: unset;
      margin: unset;
      overflow-x: hidden;
      flex: 1;

      > li {
        font-size: 1.125rem;

        > a {
          text-decoration: none;
          color: inherit;

          &:hover,
          &[bt-active] {
            color: var(--bt-link-hover-color);
          }
        }
      }
    }

    &:has([bt-navbar-toggler])[bt-large-menu] {
      & > ul {
        margin-right: 3.5rem;
      }

      [bt-navbar-toggler] {
        display: none;
      }
    }

    &:not([bt-large-menu]) {
      & > ul {
        visibility: hidden;
      }
    }
  }

  a[bt-logo] {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--bt-strong-text-color);
    margin-right: 3rem;
  }
}

button[bt-navbar-toggler] {
  display: flex;
  background: unset;
  padding: 0.5rem;
  border: unset;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2.5rem;
  align-items: center;
  justify-content: center;
  color: var(--bt-text-color);
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: hsl(218.4, 18.25%, 26.86%);
  }
}
