header[bt] {
  display: block;
  background-color: hsl(215, 28%, 17%);
  border-bottom: 1px solid hsl(215, 14%, 34%);
  position: sticky;
  top: 0;
  z-index: 40;
  font-family: var(--bt-font-family);

  > nav {
    padding: 0.75rem 1rem;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: var(--bt-strong-text-color);

    > ul {
      list-style-type: none;
      display: flex;
      gap: 2rem;
      align-items: center;
      padding: unset;
      margin: unset;
      overflow-x: hidden;

      &.overflowing {
        visibility: hidden;
      }

      > li {
        font-size: 1.125rem;

        &:has([bt-logo]) {
          font-size: 1.5rem;
          font-weight: bold;
          margin-right: 2rem;
        }

        > a {
          text-decoration: none;
          color: inherit;

          &:not([bt-logo]):hover,
          &[bt-active] {
            color: var(--bt-link-hover-color);
          }
        }
      }
    }
  }
}
