table[bt] {
  border-collapse: collapse;
  text-align: left;
  font-size: 0.85em;

  th {
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    background-color: hsl(217, 19%, 27%);
    color: var(--bt-text-color);
    text-transform: uppercase;
  }

  tr {
    font-weight: 500;
    background-color: hsl(215, 28%, 17%);
    transition: background-color 0.3s;

    &:has([bt-row-selector]) {
      cursor: pointer;

      &:hover {
        background-color: hsl(217, 19%, 27%);
      }
    }

    &[aria-selected='true'] {
      background-color: hsl(215, 44%, 28%);
      color: var(--bt-text-color);

      &:hover {
        background-color: hsl(215, 44%, 28%);
      }
    }
  }

  td {
    padding: 0 1.5rem;
    border-bottom: 1px solid hsl(217, 19%, 27%);

    &:not([bt-row-selector]) {
      line-height: 3.25rem;
    }

    [aria-selected='true'] &[bt-row-selector] {
      color: var(--bt-strong-text-color);
    }
  }

  th[right-align],
  td[right-align] {
    text-align: right;
  }

  th[center-align],
  td[center-align] {
    text-align: center;
  }

  th[no-wrap],
  td[no-wrap] {
    white-space: nowrap;
  }
}
