button[bt-avatar] {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  background-color: hsl(215, 14%, 34%);
  border-radius: 9999px;
  border: none;
  color: hsl(216, 12%, 84%);
  cursor: pointer;
}
