label[bt] {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  color: var(--bt-strong-text-color);
  font-weight: 500;

  input {
    background-color: hsl(217, 19%, 27%);
    border: 1px solid hsl(215, 14%, 34%);
    color: var(--bt-strong-text-color);
    font-weight: 400;
    font-family: inherit;
    padding: 0.625rem;
    border-radius: 0.5rem;
    outline: none;

    &:focus {
      border: 1px solid hsl(218, 93%, 61%);
      box-shadow: hsl(218, 93%, 61%) 0 0 0 1px;
    }

    &:invalid {
      border: 1px solid hsl(0, 96%, 77%);
      box-shadow: hsl(0, 96%, 77%) 0 0 0 1px;
    }

    &::-webkit-inner-spin-button {
      opacity: 0 !important;
    }
  }
}
