span[bt-badge] {
  --badge--color: var(--bt-strong-text-color);

  position: relative;
  color: hsl(221, 39%, 11%);
  display: inline-block;
  font-weight: 700;
  white-space: nowrap;
  margin: 0 0.6em;
  z-index: 1;
  transform: scale(0.8) translateY(0.05em);
  transform-origin: center left;

  &:before {
    display: inline-block;
    content: '';
    inset: 0 -0.4em;
    border-radius: 0.6em;
    background-color: var(--badge--color);
    position: absolute;
    z-index: -1;
  }

  &[bt-green] {
    --badge--color: hsl(136, 62%, 45.5%);
  }

  &[bt-red] {
    --badge--color: hsl(0, 83%, 62.5%);
  }

  &[bt-yellow] {
    --badge--color: hsl(49, 77.5%, 58%);
  }
}
